<!-- aggregates all content for the user's preferred team -->
<div id="content-1" class="row">
	<div class="medium-7 small-12 columns">
		<%= render 'partials/gameday' %>
		<%= render 'partials/next_game' %>
	</div>

	<div class="medium-5 small-12 columns">

		<%= render 'partials/main_display_social' %>
		<%= render 'partials/videos' %>
	</div>
</div>

<div id="content-2" class="row">
	<div class="medium-7 small-12 columns">
		<%= render 'partials/game_previews' %>
	</div>

	<div class="medium-5 small-12 columns">
		<%= render 'partials/game_results' %>
	</div>
</div>
